@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
  background-color: #ecf0f3;
  font-family: 'Inter', sans-serif;
}

.content {
  display: grid;
  grid-template-columns: auto auto;
  height: 100vh;
}

.intro {
  justify-self: center;
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.logo-tiles {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 64px;
  row-gap: 64px;
  margin-top: 64px;
  padding-bottom: 64px;
}

.logo-tile {
  width: 324px;
  height: 187px;
  background: linear-gradient(180deg, #f1f6f9 0%, #e5e8ed 100%);
  box-shadow: 17px 17px 25px rgba(210, 215, 223, 0.75), -17px -17px 25px #f9fafc;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro p {
  max-width: 456px;
}

h1 {
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 1.8px;
  color: #282828;
  white-space: pre-line;
  margin-top: 0;
  margin-bottom: 16px;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 165%;
  color: #505050;
  white-space: pre-line;
  margin-top: 16px;
  margin-bottom: 32px;
}

.by {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #505050;
  margin-top: 32px;
}

.by a {
  font-weight: 600;
  color: #505050;
}

.download-button {
  background-color: transparent;
  border: 2px solid;
  border-image-source: linear-gradient(45deg, #4fd1c5, #4299e1);
  border-image-slice: 1;
  color: #282828;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.2px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 24px;
}

.download-button:hover {
  background-image: linear-gradient(to right, #4fd1c5, #4299e1);
  color: white;
}

.download-button:active {
  color: #145081;
}

.custom-button {
  background-image: linear-gradient(to right, #292929, #424242);
  color: #ffffff;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.2px;
  font-weight: 400;
  cursor: pointer;
}

.custom-button:hover {
  background-image: linear-gradient(to right, #252525, #3d3d3d);
}

.custom-button:active {
  color: #ececec;
}

@media only screen and (max-width: 1500px) {
  .logo-tiles {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .intro {
    justify-self: center;
    align-self: center;
    text-align: center;
    align-items: center;
  }

  .content {
    grid-template-columns: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 390px) {
  .logo-tile {
    width: 274px;
    height: 137px;
  }

  .content {
    grid-template-columns: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}
